@import "./custom-properties.css";
@import "./typography.module.css";

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
  position: relative;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.control {
  position: relative;
}

/* html,
body {
    overflow-x: hidden;
} */

.layout__wrapper {
  padding: 10px;
  margin: 10px;
  @media (--media-min-medium) {
    padding: 15px;
  }
  @media (--media-min-large) {
    margin: 20px 0;
    padding: 20px;
  }
  /* @media (--media-min-xxlarge) {
    margin: 60px 0;
    padding: 60px;
  }
  @media (--media-min-xxxlarge) {
    margin: 60px 0;
    padding: 60px;
  } */

  @nest &.verticallyCenterAlign {
    @nest & .layout__colOne .contentWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @nest & .layout__colTwo .contentWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

/* THEMES */
/* Solid Color Themes */
.solidBlueTheme {
  background: var(--color-blue) !important;
  color: var(--color-blue-darker);
}
.solidDarkBlueTheme {
  background: var(--color-blue-dark) !important;
  color: #fff;
}
.solidDarkerBlueTheme {
  background: var(--color-blue-darker) !important;
  color: #fff;
}

.solidLightGrayTheme {
  background: var(--color-gray-light) !important;
  color: var(--color-blue-darker) !important;
}
.solidGrayTheme {
  background: var(--color-gray) !important;
  color: var(--color-blue-darker) !important;
}
.solidBlackTheme {
  background: #000 !important;
  color: #fff;
}

.solidLightGrayTheme {
  background: #ebebeb !important;
  color: #383838;
}
.solidDarkGrayTheme {
  background: #4d4d4f !important;
  color: #ffffff;
}

/* .curcuitBoardGreenTheme {
  background: url('../assets/images/patterns/curcuit-board-green.png') !important;
  background-repeat: repeat !important;
  color: #0F0F0F;
} */

.noTopMargin {
  margin-top: 0 !important;
}
.noBottomMargin {
  margin-bottom: 0 !important;
}
.noBottomPadding {
  padding-bottom: 0 !important;
}
.noTopPadding {
  padding-top: 0 !important;
}
.noRightPadding {
  padding-right: 0 !important;
}
.noLeftPadding {
  padding-left: 0 !important;
}

/* .content__wrapper--whiteBackground {
  margin: 0 auto 2rem auto;
  padding: 2rem;
  max-width: 1200px;
  background: rgba(255,255,255,.9);
} */

.layout__oneCol {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.layout__twoCol {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  padding-bottom: 10px;
  @media (--media-min-large) {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 30px;
    grid-gap: 20px;
  }
  @media (--media-min-xlarge) {
    padding-bottom: 40px;
    grid-gap: 40px;
  }
  @media (--media-min-xxlarge) {
    padding-bottom: 60px;
    grid-gap: 60px;
  }
}
.layout__threeCol {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  padding-bottom: 10px;
  @media (--media-min-medium) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-bottom: 20px;
  }
  @media (--media-min-large) {
    padding-bottom: 40px;
    grid-gap: 40px;
  }
  @media (--media-min-xxlarge) {
    padding-bottom: 60px;
    grid-gap: 60px;
  }
}
.layout__fourCol {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding-bottom: 20px;
  @media (--media-min-medium) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-bottom: 20px;
  }
  @media (--media-min-large) {
    grid-gap: 40px;
    padding-bottom: 40px;
  }
  @media (--media-min-xlarge) {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 40px;
    grid-gap: 40px;
  }
  @media (--media-min-xxlarge) {
    padding-bottom: 60px;
    grid-gap: 60px;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtubeWrapper {
  @nest & img {
    display: block;
    width: 100%;
    /* height: 100%; */
    /* max-height: 100%; */
    max-width: 100%;
    height: auto;
    /* transform: translate(-50%, -50%); */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Content Options */
.layout__contentOptions {
  @nest &.verticalAlignmentCenter {
    justify-content: center;
  }
  @nest &.verticalAlignmentBottom {
    justify-content: flex-end;
  }
  @nest &.horizontalAlignmentCenter {
    text-align: center;
    align-items: center;
    @nest & li {
      text-align: left;
    }
  }
}

/*  READ MORE */
.read-more-button {
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 0 5px;
  color: inherit;
  display: inline;
  padding: 0;
  transition: all 0.2s;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 var(--color-blue);
  position: relative;
  @nest &:hover {
    box-shadow: inset 0 -3px 0 0 var(--color-blue);
    transition: all 0.2s;
  }
}

/* FLEXIBLE CONTENT */

.whiteBackground {
  background: rgba(255, 255, 255, 0.8);
  color: var(--color-blue-darker) !important;
}

.flexible__layout {
  position: relative;
}
.flexible__layout.layout__wrapper:first-of-type {
  overflow: hidden;
}
.flexible__content--wrapper {
  max-width: 1440px;
}
/* .layout__colTwo.flexible__content.content__wrapper.noLeftPadding.noRightPadding.noTopPadding.noBottomPadding.verticalAlignmentCenter {
  margin-top: -200px;
  z-index: 1;
  position: relative;
} */

.flexible__content.content__wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
  @media (--media-min-medium) {
    padding: 20px;
  }
  @media (--media-min-large) {
    padding: 25px;
  }
  @media (--media-min-xlarge) {
    padding: 40px;
  }
  /* @media (--media-min-xxlarge) {
    padding: 60px;
  } */

  @nest &.verticalAlignmentCenter {
    justify-content: center;
  }
  @nest &.verticalAlignmentBottom {
    justify-content: flex-end;
  }
  @nest &.horizontalAlignmentCenter {
    text-align: center;
    align-items: center;
  }
}

.wrap {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/*  IMAGES */
.image5XL {
  max-width: 700px;
  width: 100%;
}
.image4XL {
  max-width: 566px;
  width: 100%;
}
.image3XL {
  max-width: 454px;
  width: 100%;
}
.image2XL {
  max-width: 330px;
  width: 100%;
}
.imageXL {
  max-width: 256px;
  width: 100%;
}
.imageLG {
  max-width: 206px;
  width: 100%;
}
.imageMD {
  max-width: 170px;
  width: 100%;
}
.imageSM {
  max-width: 145px;
  width: 100%;
}
.imageXS {
  max-width: 125px;
  width: 100%;
}

/* date picker */
/* .react-datepicker-wrapper {
  width: 100%;
} */

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block !important;
  width: 100% !important;
}

.react-datepicker__time-container,
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 90px !important;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 95px !important;
  top: 15px !important;
}
.react-datepicker__navigation--previous {
  top: 15px !important;
}

.react-datepicker__navigation {
  height: 20px !important;
  width: 20px !important;
}
.react-datepicker-popper {
  left: -10px !important;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item {
  font-size: 13px;
}

.carousel.carousel-slider .control-arrow {
  color: var(--color-blue-dark);
}
.carousel .control-dots .dot {
  background: var(--color-blue-dark);
  height: 12px;
  width: 12px;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid var(--color-blue-dark);
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid var(--color-blue-dark);
}

/* NEW DROPDOWN NAVIGATION */

.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

/* menu on desktop */
.desktop-nav .menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.desktop-nav .menu-items {
  position: relative;
  font-size: 16px;
}

.desktop-nav .menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.desktop-nav .menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.desktop-nav button span {
  margin-left: 3px;
}

.desktop-nav .menu-items > a,
.desktop-nav .menu-items button {
  text-align: left;
  padding: 0.4rem 0.4rem;
}

.desktop-nav .menu-items a:hover {
  text-decoration: underline;
  transition: text-shadow 0.2s;
  text-shadow: 0 0 0.65px rgba(0, 0, 0, 0.4), 0 0 0.65px rgba(0, 0, 0, 0.4);
}
.desktop-nav .menu-items button:hover {
  transition: text-shadow 0.2s;
  text-shadow: 0 0 0.65px rgba(0, 0, 0, 0.4), 0 0 0.65px rgba(0, 0, 0, 0.4);
}

.desktop-nav .arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.desktop-nav .dropdown {
  position: absolute;
  top: 0;
  left: 100%;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08), 0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  /* border-radius: 0.5rem; */
  display: none;
  /* & .dropdown {
    top: 0;
    right: 0;
    left: 100%;
    border: 5px solid red;
    & .dropdown {
      top: 0;
      left: 100%;
      border: 5px solid blue;
    }
  } */
}

.desktop-nav .dropdown.show {
  display: block;
}

.desktop-nav .dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

.mobile-nav {
  display: none;
}

/* menu on mobile */
@media screen and (max-width: 960px) {
  .nav-area {
    justify-content: space-between;
  }

  .desktop-nav {
    display: none;
    text-align: right;
  }

  .mobile-nav {
    display: block;
  }
  .mobile-nav .mobile-nav__menu-button {
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
  }
  .mobile-nav .menus {
    list-style: none;
    position: absolute;
    top: 50px;
    right: 20px;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08), 0 4px 6px -2px rgba(71, 63, 79, 0.16);
    z-index: 9999;
    min-width: 12rem;
    padding: 0.5rem 0;
    background-color: #fff;
    /* border-radius: 0.5rem; */
  }

  .mobile-nav .menu-items a {
    display: block;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
  }

  .mobile-nav .menu-items button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
  }

  .mobile-nav .menu-items > a,
  .mobile-nav .menu-items button {
    text-align: left;
    padding: 0.7rem 1rem;
  }

  .mobile-nav .menu-items a:hover,
  .mobile-nav .menu-items button:hover {
    background-color: #f2f2f2;
  }

  .mobile-nav .arrow::after {
    content: "";
    display: inline-block;
    margin-left: 1.2em;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
  }
  .mobile-nav .arrow-close::after {
    content: "";
    display: inline-block;
    margin-left: 1.2em;
    vertical-align: 0.09em;
    border-bottom: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
  }

  .mobile-nav .dropdown {
    margin-left: 1.2em;
    font-size: 0.9rem;
    padding: 0.5rem 0;
    list-style: none;
    display: none;
  }

  .mobile-nav .dropdown.show {
    display: block;
  }
}
