GATSBY_SANITY_PROJECT_ID="a29bfri3"
GATSBY_SANITY_DATASET="production"

# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
GATSBY_SANITY_READ_TOKEN="skA3vPQFHcv4STFJfwAh407M1ddHQTRsNpdSy4lPoHXljzVcvmCfqQcbfAacy1X9Ns6DdGEcl6oJ3QDmpssOsh8TI5VufZCIEOvntweiVSziHewAm8jZt7knNH0YJiQmFprPLHJFEbcLdZwN8fdyr4L1yYyUNlMe7QtMRZ3ZWYPesnXbXBq5"

GATSBY_GOOGLE_RECAPTCHA_SECRET="6Lde0bgZAAAAAAmUu1C2kHlixPhgkSib5GwnHdMT"
GATSBY_GOOGLE_RECAPTCHA_PUBLIC="6Lde0bgZAAAAAGMLrVwvSSNeD8sxUXVdicWxizAE"
GATSBY_MAILGUN_API="e9725f8757ea2ed9083e4b0d331a47c7-a65173b1-6b2245c5"
GATSBY_DOMAIN="mg.voyagerinstruments.com"